/*Didn't put the webkit and other ones for the transitions and the trasforms*/
body {
  /*Varible used for the colors so it's easier to change them*/
  --base-bg: #edede9;
  --text-cl: #333;
  --nav-bg: #d6ccc2;
  --footer-bg: #e3d5ca;
  --link-cl: #f5ebe0;
  --det-cl: #c5bdaf;
  /*Style of the body*/
  font-family: Arial, sans-serif;  /*Cambiare poi nel font che si vuole*/
  min-height: 100vh;
  background-color: var(--base-bg);
}

/*Commons stiles in the selectors*/
body, .container, header, .right-header, .content{
  display: flex;
}
.container, main, .calendar, .agenda{
  flex: 1;
}
body, nav ul, header h1{
  margin: 0;
}
.front, .right, .left, .calendarMain, .year, .calendarNormal,.clock{
  position: absolute;
}
header, .right-header{
  align-items: center;
}
.front, .clock, .year, .calendarNormal, footer{
  text-align: center;
}
.outer:active .front .day, .outer:active .front .month, .clock, .year, .calendarNormal, .outer:active .calendarMain{
  opacity: 0;
  visibility: hidden;
}
.outer:active .clock, .outer:active .calendarNormal, .outer:active .year{
  opacity: 1;
  visibility: visible;
}
.right-header li, nav li {
  list-style: none;
}


/*Stile della nav laterale*/
nav {
  background-color: var(--nav-bg);
  color: var(--text-cl);
  padding: 1.5em;
  width: 200px;
  flex-shrink: 0;
}
nav ul {
  padding: 0;
}
nav li {
  margin: 1em 0;
}
nav a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}
nav li :hover {
  background-color: var(--link-cl);
  color: var(--text-cl);

}

.container {
  flex-direction: column;
}
/*Stile del header*/
header {
  justify-content: space-between;
  padding: 1em 2em;
  border-bottom: 1px solid var(--det-cl);
}

header h1 {
  font-size: 1.5em;
}

.right-header {
  gap: 5em;
  /* TO-DO Questo fa cambiare la distanza tra pic e data*/
}

/*Stile of the day*/
.anim04c {
  transition: all .4s cubic-bezier(.5, .35, .15, 1.4);
}

.outer {
  /*position: relative;*/
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
}

.signboard {
  width: 50px;/*Changes the dimension of the day*/
  height: 50px;
  margin: auto;
  color: var(--text-cl);
  border-radius: 10px;
}

.front {
  top: 50px;
  /*TO-DO Cambiare*/
  z-index: 3;
  background: var(--det-cl);
}

.right {
  top:50px;
  z-index: 2;
  transform: rotate(-10deg) translate(7px, 8px);/*To-do cambiare*/
  background: var(--nav-bg);
}

.left {
  top:50px;
  z-index: 1;
  transform: rotate(5deg) translate(-4px, 4px);
  background: var(--footer-bg);
}

/*Stile della scatola principale in cui si vede il giorno*/
.outer:hover .inner {
  transform: rotate(0) translate(0);
}

.outer:active .inner {
  transform: rotate(0) translate(0) scale(0.9);
}

.outer:active .front .date {
  transform: scale(2);
}

.outer:active .front .day,
.outer:active .front .month {
  transform: scale(0);
}

.outer:active .right {
  transform: rotate(-5deg) translateX(80px) scale(0.9);
}

.outer:active .left {
  transform: rotate(5deg) translateX(-80px) scale(0.9);
}

.outer:active .calendarMain {
  transform: scale(1.8);
}

.outer:active .clock {
  transform: scale(1.4);
}

.outer:active .calendarNormal {
  bottom: -30px;
}

.outer:active .year {
  top: -30px;
  letter-spacing: 3px;
}

/*Stile Principale con il mese-giorno-numero TO-DO Cambiare poi qualcosas*/
.calendarMain {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.month,
.day {
  font-size: 10px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.date {
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*Stile per l'ora*/
.clock {
  width: 100%;
  height: 100%;
  font-size: 40px;
  line-height: 100px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*Stile per l'anno*/
.year {
  width: 100%;
  top: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #ff726b;
  /*Sicuramente da cambiare*/
}

.calendarNormal {
  width: 100%;
  bottom: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*Colori che cambiano*/
.date2 {
  color: #ff726b;
}

.day2 {
  color: #3498db;
}

.month2 {
  color: #efc94c;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  /*TO-DO Cambiare colore*/
}

/*Stile dei calendari*/
main {
  gap: 2em;
  padding: 2em;
}

.content {
  gap: 2em;
  margin-bottom: 2em;
}

.calendar .agenda {
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  /*TO-DO Non so se mi piace*/
}

.notes {
  margin: 0.5em 0;
}

footer {
  background-color: var(--footer-bg);
  color: var(--text-cl);
  padding: 1em;
}