:root{
  /*Varible used for the colors so it's easier to change them*/
  --base-bg: #edede9;
  --text-cl: #333;
  --nav-bg: #d6ccc2;
  --footer-bg: #e3d5ca;
  --link-cl: #f5ebe0;
  --det-cl: #c5bdaf;
  --dark-cl:#746D61;
  --other-cl: #555;
}