.agenda{
    flex: 1;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.agenda h2{
  text-align: center;
  margin-bottom: 10px;
}
#todo-input{
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
#add-todo-btn{
  padding: 8px 12px;
  background: var(--dark-cl);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
#todo-list {
  list-style: none;
  padding: 0;
}
#todo-list li{
  background: #f5f5f5;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#todo-list li.done{
  text-decoration: line-through;
  color: #888;
  background: #e0e0e0;
}
.remove-btn{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
/*Stile of the message of the new day's todo*/
.new-day-banner{
  background: #ffeaa7;
  color: var(--text-cl);
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  from {opacity: 0;transform: translateY(-10px);}
  to {opacity: 1; transform: translateY(0);}
}