<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <title>Alesja's Personal Hubs</title>
  <link rel="stylesheet" href="/css/personalStyle.css">
</head>

<body>
  <!-- Contenitore principale a destra -->
  <div class="container">
    <main>
    </main>
    <section>
      <h2> Chaos' POST-IT </h2>
      <button>+</button>
    </section>

    <footer>
      <p>&copy; 2025 - Tutti i diritti riservati</p>
      <p><a href="https://codepen.io/mselmany/pen/kKOJVW">Idea Data e Ora</a></p>
    </footer>
  </div>
  <!--So it shows the event info in a popup-->
  <div id="event-info-popup"></div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/personalJs.js"></script>
</body>
</html>
